<script src="../common/libs/echarts.js"></script>
<div class="userAnalysis">
    <div class="onlinesituation"><img class="onlineIcon" src="systemPage/images/onlineIcon.png" alt=""> <h1>在线情况</h1></div>
    <div class="user">
        <div id="userChart" class="wavechart"></div>
        <spread-button class="chartIcon" >
            <div class="chart-show">
                <div class="leftAll ">
                  <!--  <p class="sread" id="spread">展开详情</p>-->
                </div>
                <div class="leftCheck">
                    <!--<div class="clearFloat">-->
                        <!--<p class="detailgroup"><span class="checkDetailico checkDetailpublic psdAll" id="psdAll-1"></span><span class="checkDetailpublic checkDetailword">PDS总体</span></p>-->
                        <!--<p class="detailgroup"><span class="checkDetailico checkDetailpublic brower" id="brower-1"></span><span class="checkDetailpublic checkDetailword">浏览器</span></p>-->
                        <!--<p class="detailgroup"><span class="checkDetailico checkDetailpublic cockpit" id="cockpit-1"></span><span class="checkDetailpublic checkDetailword">驾驶舱</span></p>-->
                        <!--<p class="detailgroup"><span class="checkDetailico checkDetailpublic mobile" id="mobile-1"></span><span class="checkDetailpublic checkDetailword">移动应用</span></p>-->
                        <!--<p class="detailgroup"><span class="checkDetailico checkDetailpublic mobliePad" id="mobliePad-1"></span><span class="checkDetailpublic checkDetailword">移动应用(pad)</span></p>-->
                        <!--<p class="detailgroup"><span class="checkDetailico checkDetailpublic process" id="process-1"></span><span class="checkDetailpublic checkDetailword">进度计划</span></p>-->
                        <!--<p class="detailgroup"><span class="checkDetailico checkDetailpublic integrate" id="integrate-1"></span><span class="checkDetailpublic checkDetailword">集成应用</span></p>-->
                        <!--<p class="detailgroup"><span class="checkDetailico checkDetailpublic iBan" id="iBan-1"></span><span class="checkDetailpublic checkDetailword">iBAN</span></p>-->
                        <!--<p class="detailgroup"><span class="checkDetailico checkDetailpublic BC" id="BC-1"></span><span class="checkDetailpublic checkDetailword">BC</span></p>-->
                        <!--<p class="detailgroup"><span class="checkDetailico checkDetailpublic calGeneral" id="calGeneral-1"></span><span class="checkDetailpublic checkDetailword">算量总体</span></p>-->
                        <!--<p class="detailgroup"><span class="checkDetailico checkDetailpublic tuJian" id="tuJian-1"></span><span class="checkDetailpublic checkDetailword">土建</span></p>-->
                        <!--<p class="detailgroup"><span class="checkDetailico checkDetailpublic gangjin" id="gangjin-1"></span><span class="checkDetailpublic checkDetailword">钢筋</span></p>-->
                        <!--<p class="detailgroup"><span class="checkDetailico checkDetailpublic install" id="install-1"></span><span class="checkDetailpublic checkDetailword">安装</span></p>-->
                        <!--<p class="detailgroup"><span class="checkDetailico checkDetailpublic construct" id="construct-1"></span><span class="checkDetailpublic checkDetailword">施工</span></p>-->
                        <!--<p class="detailgroup"><span class="checkDetailico checkDetailpublic subordate" id="subordate-1"></span><span class="checkDetailpublic checkDetailword">下料</span></p>-->
                        <!--<p class="detailgroup"><span class="checkDetailico checkDetailpublic special" id="special-1"></span><span class="checkDetailpublic checkDetailword">专项</span></p>-->
                        <!--<p class="detailgroup"><span class="checkDetailico checkDetailpublic node" id="node-1"></span><span class="checkDetailpublic checkDetailword">节点</span></p>-->
                        <!--<p class="detailgroup"><span class="checkDetailico checkDetailpublic banzhu" id="banzhu-1"></span><span class="checkDetailpublic checkDetailword">班筑</span></p>-->
                        <!--<p class="detailgroup"><span class="checkDetailico checkDetailpublic banhuitong" id="banhuitong-1"></span><span class="checkDetailpublic checkDetailword">班汇通</span></p>-->
    <!---->
                        <!--<p class="detailgroup"><span class="checkDetailico checkDetailpublic" id="others"></span><span class="checkDetailpublic checkDetailword">其他</span></p>-->
                    <!--</div>-->
                </div>
            </div>
            <div class="userGeneral panel panel-default systemList" id="show-Table">
                <table class="table table-striped" id="userGeneral">
                </table>
            </div>
            <div class="showButton systemTrend-top"><div class="flowIMg"><img id="ImgChange" src="systemPage/images/close.png" alt=""></div></div>
        </spread-button>

    </div>
    <div class="usercheck">
        <div class="onlinesituation"> <img class="onlineIcon" src="systemPage/images/usergeneral.png" alt=""> <h1>用户概况</h1></div>
        <div class="chart-click">
            <click-left class="click-left">
                <!--switch class adding this one-->
                <p class="count-number switch-left-down" id="usercount">新增用户数</p>
                <p class="count-number"  id="downloadingcount">每日登录数</p>
            </click-left>
            <div class="click-right">
                <p class="select-time" ng-click="all()">全部</p>
                <p class="select-time" ng-click="Th3Years()">近三年</p>
                <p class="select-time" ng-click="year()">近一年</p>
                <p class="select-time" ng-click="season()">近一季</p>
                <p class="select-time" ng-click="month()">近一月</p>
            </div>
        </div>
        <div id="checkuser"></div>
        <!--<div class="chartIcon">
            <div class="leftAll ">
                &lt;!&ndash;<p class="sread">展开详情</p>&ndash;&gt;
            </div>
            <div class="leftCheck">
                <div class="clearFloat">
                    <p class="detailgroup"><span class="checkDetailico checkDetailpublic psdAll" id="psdAll-2"></span><span class="checkDetailpublic checkDetailword">PDS总体</span></p>
                    <p class="detailgroup"><span class="checkDetailico checkDetailpublic brower" id="brower-2"></span><span class="checkDetailpublic checkDetailword">浏览器</span></p>
                    <p class="detailgroup"><span class="checkDetailico checkDetailpublic cockpit" id="cockpit-2"></span><span class="checkDetailpublic checkDetailword">驾驶舱</span></p>
                    <p class="detailgroup"><span class="checkDetailico checkDetailpublic mobile" id="mobile-2"></span><span class="checkDetailpublic checkDetailword">移动应用</span></p>
                    <p class="detailgroup"><span class="checkDetailico checkDetailpublic mobliePad" id="mobliePad-2"></span><span class="checkDetailpublic checkDetailword">移动应用(pad)</span></p>
                    <p class="detailgroup"><span class="checkDetailico checkDetailpublic process" id="process-2"></span><span class="checkDetailpublic checkDetailword">进度计划</span></p>
                    <p class="detailgroup"><span class="checkDetailico checkDetailpublic integrate" id="integrate-2"></span><span class="checkDetailpublic checkDetailword">集成应用</span></p>
                    <p class="detailgroup"><span class="checkDetailico checkDetailpublic iBan" id="iBan-2"></span><span class="checkDetailpublic checkDetailword">iBAN</span></p>
                    <p class="detailgroup"><span class="checkDetailico checkDetailpublic BC" id="BC-2"></span><span class="checkDetailpublic checkDetailword">BC</span></p>
                    <p class="detailgroup"><span class="checkDetailico checkDetailpublic calGeneral" id="calGeneral-2"></span><span class="checkDetailpublic checkDetailword">算量总体</span></p>
                    <p class="detailgroup"><span class="checkDetailico checkDetailpublic tuJian" id="tuJian-2"></span><span class="checkDetailpublic checkDetailword">土建</span></p>
                    <p class="detailgroup"><span class="checkDetailico checkDetailpublic gangjin" id="gangjin-2"></span><span class="checkDetailpublic checkDetailword">钢筋</span></p>
                    <p class="detailgroup"><span class="checkDetailico checkDetailpublic install" id="install-2"></span><span class="checkDetailpublic checkDetailword">安装</span></p>
                    <p class="detailgroup"><span class="checkDetailico checkDetailpublic construct" id="construct-2"></span><span class="checkDetailpublic checkDetailword">施工</span></p>
                    <p class="detailgroup"><span class="checkDetailico checkDetailpublic subordate" id="subordate-2"></span><span class="checkDetailpublic checkDetailword">下料</span></p>
                    <p class="detailgroup"><span class="checkDetailico checkDetailpublic special" id="special-2"></span><span class="checkDetailpublic checkDetailword">专项</span></p>
                    <p class="detailgroup"><span class="checkDetailico checkDetailpublic node" id="node-2"></span><span class="checkDetailpublic checkDetailword">节点</span></p>
                    <p class="detailgroup"><span class="checkDetailico checkDetailpublic banzhu" id="banzhu-2"></span><span class="checkDetailpublic checkDetailword">班筑</span></p>
                    <p class="detailgroup"><span class="checkDetailico checkDetailpublic banhuitong" id="banhuitong-2"></span><span class="checkDetailpublic checkDetailword">班汇通</span></p>

                    <p class="detailgroup"><span class="checkDetailico checkDetailpublic others" id="others-2"></span><span class="checkDetailpublic checkDetailword">其他</span></p>
                </div>
            </div>
        </div>-->
    </div>

</div>