<script src="../common/libs/echarts.js"></script>
<!--问题分析-->
<div class="question-analysis">
    <div class="analysis-main">
        <!--图形展示-->
        <div class="question-shapeShow">
            <!--analysis-Nav-->
            <div class="analysis-Nav">
                <ul class="analysis-Nav-list overflow"></ul>
            </div>
            <!--analysis-canvas-->
            <div class="analysis-canvas">
                <div class="analysis-shape" id="analysissShape"></div>
            </div>
        </div>
        <!--analysis-table-->
        <div class="analysis-table">
            <!--analysis-tableIf-->
            <div class="analysis-tableIf overflow">
                <!--<div id="quesAllTime"  data-default-value="" data-placeholder="最近一年"></div>-->
                <div class="analysis-inputs">
                    <div id="quesAllTime" class="filterProject"><p class="input-content">&nbsp;&nbsp;{{quesAllTime}}</p></div>
                    <div id="quesAllType" class="filterProject"><p class="input-content" typeId = '-1'>&nbsp;&nbsp;{{quesAllType}}</p><b class="triangle"></b></div>
                    <div id="quesAllDeploy" class="filterProject">
                        <p class="input-content" >&nbsp;&nbsp;{{quesAllDeploy}}</p>
                        <b class="triangle"></b>
                        <div class="anlaysis-inputWap">
                            <p type="all">&nbsp;&nbsp;全部部署类型</p>
                            <p type="enterprise">&nbsp;&nbsp;企业部署</p>
                            <p type="cloud">&nbsp;&nbsp;云部署</p>
                        </div>
                    </div>
                    <div id="quesAllVersition" class="filterProject" ><p class="input-content">&nbsp;&nbsp;{{quesAllVersition}}</p><b class="triangle"></b></div>
                </div>
                <div class="analysis-btn">
                    <input type="button" class="analysis-filter" ng-click="filterStatus()" value="筛选"/>
                    <input type="button" class="ques-cancel" value="取消筛选" /><!--ng-click="cancelFileterIf()"ng-if="cancelFilter" -->
                </div>
            </div>
            <table class="fixed-table" border="0" cellspacing="0" cellpadding="0">
                <thead>
                <tr>
                    <th>问题类型</th>
                    <th>备注</th>
                    <th>应用版本</th>
                    <th>提交时间</th>
                </tr>
                </thead>
            </table>
            <div class="content-table">
                <table border="0" cellspacing="0" cellpadding="0" >
                    <tbody style="height:424px;overflow:auto">
                    </tbody>
                </table>
                <div class="pages overflow">
                    <div id="Pagination"></div>

                </div>
            </div>

        </div>

    </div>
</div>
