<!--功能分析-->
<div class="question-analysis function-analysis">
    <div class="analysis-main">
        <!--图形展示-->
        <div class="question-shapeShow function-shapeShow">
            <!--analysis-Nav-->
            <div class="analysis-Nav">
                <ul class="analysis-Nav-list overflow">
                    <li ng-repeat="item in productNav track by $index"><p ng-click="changeProductId(item)" >{{item.productName}}</p><span class="line-style"></span></li>
                </ul>
            </div>
            <div class="funList">
                <span class="bombBoxIcon bombBoxIcon-5"></span>
                功能列表 
            </div>
            <!--analysis-canvas-->
            <div class="fun-table">
                <table class="fixed-table" border="0" cellspacing="0" cellpadding="0">
                    <thead>
                    <tr>
                        <th>功能名称<span class="fun" ></span></th>
                        <th>使用次数<span class="fun-sort sort-left" ng-click="asByTimes()"></span><span class="fun-sort sort-right" ng-click="deByTimes()"></span></th>
                        <th>操作</th>
                    </tr>
                    </thead>
                </table>
                <table border="0" cellspacing="0" cellpadding="0" class="funTable">
                    <tbody style="height:424px;overflow:auto">
                    <tr ng-repeat="item in functionList track by $index">
                        <td ng-click="functionDetail(item.functionName)" ng-bind="item.functionName"></td>
                        <td ng-click="functionDetail(item.functionName)" ng-bind="item.useTimes"></td>
                        <td>
                            <span class="toTop" ng-click="setTop(item.functionName)" ng-show="item.status==1">置顶</span>
                            <span class="toBottom"  ng-click="setBottom(item.functionName)" ng-show="item.status==1">置底</span>
                            <span class="" ng-click="cancelTop(item.functionName)" ng-show="item.status==2">取消置顶</span>
                            <span class="" ng-click="cancelBottom(item.functionName)" ng-show="item.status==0">取消置底</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>

